<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--CaseSensitive -> 0-->
		<!--CaseInsensitive -> 1-->
		<add key="ComparacionStringCaseSensitive" value="0"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
