<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.1.1" targetFramework="net35" />
  <package id="Castle.Core" version="1.1.0" targetFramework="net35" />
  <package id="Castle.DynamicProxy" version="2.1.0" targetFramework="net35" />
  <package id="DevExpress.Data" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.Printing" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.RichEdit" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.Utils" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.XtraBars" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.XtraEditors" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.XtraGrid" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.XtraLayout" version="11.2.11" targetFramework="net35" />
  <package id="DevExpress.XtraRichEdit" version="11.2.11" targetFramework="net35" />
  <package id="Iesi.Collections" version="3.1.0.4000" targetFramework="net35" />
  <package id="Interop.ZED" version="2.0.0" targetFramework="net35" />
  <package id="log4net" version="2.0.15" targetFramework="net472" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net472" />
  <package id="structuremap" version="2.6.1.0" targetFramework="net35" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net35" />
  <package id="Zoo.nHibernate" version="2.1.2.4000" targetFramework="net35" />
  <package id="ZooLogicSA.Core" version="25.7.9999.343" targetFramework="net472" />
  <package id="ZoologicSA.Core.Common" version="25.7.9999.120" targetFramework="net472" />
  <package id="ZooLogicSA.Core.DatosAplicacion" version="25.7.9999.343" targetFramework="net472" />
  <package id="ZooLogicSA.Core.Formularios" version="25.7.9999.245" targetFramework="net472" />
  <package id="ZooLogicSA.Core.StructureMapContainer" version="25.7.9999.120" targetFramework="net472" />
  <package id="ZooLogicSA.ZED" version="25.7.9999.13" targetFramework="net472" />
</packages>